@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1312px;
    margin: 0 auto;
}

/* ---------------
header style
------------------ */

header{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
   
   
}

.logo-name{
    font-weight: 700;
    font-size: 1em;
    line-height: 36px;
}

.nav-item ul{
    display: flex;
    list-style: none;

}

.nav a{
    text-decoration: none;
    font-size: 1em;
    line-height: 24px;
    color: #3A3A3A;
}

.nav{
    margin-right: 34px;
    
}

/* ------------------
main style 
---------------------*/

.container-head{
    display: flex;
    justify-content: space-between;
}

.blog{
    margin-top: 145px;
    width: 50%;
}

.blog-title{
    font-size: 3.25em;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.blog-info{
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.blog-btn{
    padding: 8px 24px;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}
.cam-img{
    margin-top: 50px;
}